window {
    margin: 0px;
    background-color: #232136;
    border-radius: 0px;
    border: 2px solid #908caa;
    color: #e0def4;
    font-family: 'CommitMono Nerd Font';
    font-size: 13px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-radius: 0px;;
    color: #eb6f92;
    background-color: #26233a;
    
}

#inner-box {
    margin: 0px;
    border: none;
    background-color: #26233a;
    color: #232136;
    border-radius: 0px;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #26233a;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
} 

#entry:selected {
    background-color: #eb6f92;
    color: #232136;
    border-radius: 0px;;
    outline: none;
}

#entry:selected * {
    background-color: #eb6f92;
    color: #232136;
    border-radius: 0px;;
    outline: none;
}
